html:focus-within {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

.navcircle {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 10px;
  margin-top: 1px;
}

.navon {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  border: 2px solid white;
  margin-right: 10px;
  margin-top: 1px;
  padding: -20px;
}

.logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  width: 200px;
}

.top {
  display: none;
  position: fixed;
  bottom: 5%;
  left: 11%;
  z-index: 1000;
  transform: translateY(100px);
  transition: 0.1s ease;
}
.top a {
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 25%;
  background: rgba(35, 116, 214, 0.456);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 20px;
  height: 40px;
  transform: translate(-50%);
  border: 2px solid #fff;
  border-radius: 20%;
  animation: updown 2s infinite ease-in-out;
  z-index: 1000;
  text-align: center;
}
.scroll .wheel {
  color: white;
  font-weight: bolder;
  transform: translateY(-5px);
  animation: updown2 2s infinite ease-in-out;
}

@keyframes updown {
  50% {
    transform: translate(-50%, 20px);
  }
}
@keyframes updown2 {
  50% {
    transform: translateY(5px);
  }
}
.modal_scr {
  background: rgba(238, 238, 238, 0.8078431373);
  width: 30vw;
  height: 10vw;
  opacity: 0;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.thumbup {
  background: url(../img/thumb.svg) no-repeat 60% 60%/40%;
}

.thumbdown {
  background: url(../img/thumb.svg) no-repeat -40% 60%/40%;
}

header {
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: transparent;
  position: fixed;
  right: -1%;
  transform: translate(-50%);
  z-index: 100;
}
header .nav {
  height: 100vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: normal;
  text-transform: uppercase;
}
header .nav li {
  margin-top: 50px;
}
header .nav li a {
  display: flex;
  align-items: center;
}
header .nav li:first-child {
  margin-top: 0;
}
header .nav li a {
  color: #fff;
  transition: 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 40px;
}
header .nav li a:hover {
  background: rgba(255, 255, 255, 0.1843137255);
}

#visual {
  background: url(../img/visual.jpg) no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#visual img {
  border-radius: 50px;
  width: 70%;
  margin: 0 0 0 11%;
  display: block;
  filter: blur(10px);
  transition: 2s ease-in-out;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  box-shadow: inset 0px 0px 0px 0px #111;
}

.vis_text {
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 36%;
  left: 35.5%;
  color: white;
  filter: blur(10px);
  transition: 2s ease-in-out;
}

#container .con0 {
  width: 100vw;
  height: 100vh;
  background: #1f2232;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container .con0 > ul {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
#container .con0 > ul > li:last-child {
  width: 38.5%;
  margin-left: 6%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container .con0 > ul > li:last-child h3 {
  color: #f4410b;
  font-size: 24px;
}
#container .con0 > ul > li:last-child h2 {
  font-size: 44px;
}
#container .con0 > ul > li:last-child .con0_underbar {
  width: 150px;
  height: 5px;
  background: #f4410b;
}
#container .con0 > ul > li:last-child p {
  font-size: 20px;
  margin: 30px 0;
}
#container .con0 > ul > li:last-child .second {
  margin: 0 0 30px 0;
}
#container .con0 > ul > li:last-child .introbox {
  width: 100%;
  border: 2px solid #f4410b;
  border-radius: 10px;
  padding: 40px;
}
#container .con0 > ul > li:last-child .introbox ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#container .con0 > ul > li:last-child .introbox ul li {
  width: 49%;
  font-size: 18px;
}
#container .con0 > ul > li:last-child .introbox ul li:not(:nth-child(7), :last-child) {
  margin-bottom: 20px;
}
#container .con0 > ul > li:last-child .introbox ul .edudate {
  font-size: 12px;
}
#container .con0 > ul > li:last-child .moreme {
  background: #f4410b;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  width: 27%;
  margin-top: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#container .con1 {
  width: 70%;
  height: 100vh;
  margin: 0 0 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#container .con1 .con1_img {
  width: 40%;
  height: 80%;
  background: url(../img/spacecat.png) no-repeat center/99%;
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 7%;
  left: 15%;
  z-index: 10;
}
#container .con1 h2 {
  font-size: 60px;
  font-weight: 900;
}
#container .con1 .flipping {
  transition: 1s ease;
  position: relative;
}
#container .con1 .flipping .unflipped {
  display: none;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s ease;
}
#container .con1 .flipping .unflipped li {
  width: 100px;
  padding: 0 10px;
}
#container .con1 .flipping .unflipped li:first-child img {
  width: 92%;
}
#container .con1 .flipping .unflipped li:last-child img {
  margin-right: none;
}
#container .con1 .flipping .unflipped li img {
  width: 100%;
  margin: 10px auto;
  display: block;
}
#container .con1 .flipping .unflipped li a {
  display: block;
}
#container .con1 .flipping .flipped {
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  transition: 0.5s ease;
}
#container .con1 .flipping .flipped h2 {
  font-size: 25px;
}
#container .con1 .flipping .flipped span {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  background: #333;
  border-radius: 50px;
}
#container .con1 .flipping .flipped span:last-child {
  transform: translate(1000px);
}
#container .con1 .con1_texts {
  width: 50%;
  height: 50%;
  background: url(../img/colorfuluni.jpg) no-repeat center/cover;
  border-radius: 80% 60% 80% 60%;
  transform: rotate(200deg);
}
#container .con1 .con1_texts2 {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(50px);
}
#container .con1 .con1_texts2 p {
  width: 65%;
  text-align: center;
  padding: 50px 0;
  font-size: 20px;
}
#container .con2 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container .con2 .first {
  width: 100%;
  height: 80vh;
  background: url(../img/1.jpg) no-repeat center/cover;
  background-attachment: fixed;
  mask-image: linear-gradient(0deg, transparent 0% 2%, black 10% 90%, transparent 98% 100%);
  -webkit-mask-image: linear-gradient(0deg, transparent 0% 2%, black 10% 90%, transparent 98% 100%);
}
#container .con3 {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s ease-in-out;
}
#container .con3 .con3_description {
  margin-right: 200px;
  width: 22%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease-in-out;
  font-size: 20px;
  transform: translate(-15px);
}
#container .con3 .con3_texts {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#container .con3 .con3_texts h2 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 100px;
}
#container .con3 .con3_texts .flipping2 {
  width: 50%;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container .con3 .con3_texts .flipping2 img {
  width: 100%;
  display: block;
  transition: 0.5s ease;
}
#container .con3 .con3_texts .flipping2 .flipped2 {
  padding: 30px 50px;
  width: 100%;
  background: white;
  border-radius: 150px;
  border: 2px solid #444;
  opacity: 0;
  overflow: hidden;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  transition: 0.5s ease;
}
#container .con3 .con3_texts .flipping2 .flipped2 h2 {
  font-size: 40px;
  margin-bottom: 0;
}
#container .con3 .con3_texts .flipping2 .flipped2 span {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  background: #333;
  border-radius: 50px;
}
#container .con3 .con3_texts .flipping2 .flipped2 span:last-child {
  transform: translate(1000px);
}
#container .con4 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container .con4 .con4_colordot {
  position: absolute;
  top: 2px;
  left: -15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(90deg, #15d4ff, #f74eff);
}
#container .con4 h2 {
  margin: 50px 0 80px;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
#container .con4 .portfolio_divide {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 70%;
}
#container .con4 .portfolio_divide > li {
  border: 2px solid #333;
  border-radius: 30px;
  width: 48%;
  height: 100%;
  box-shadow: 5px 5px 10px 1px #bbb;
}
#container .con4 .portfolio_divide > li:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  padding: 40px;
}
#container .con4 .portfolio_divide > li:last-child {
  padding: 2.5vw 0 2.5vw 3.5vw;
  width: 40%;
  margin-right: 100px;
}
#container .con4 .portfolio_divide > li:last-child h3 {
  margin: 25px 0 15px;
  position: relative;
}
#container .con4 .portfolio_divide > li:last-child .skill_icons li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container .con4 .portfolio_divide > li:last-child .skill_icons .percentage {
  font-size: 1.5vw;
}
#container .con4 .portfolio_divide > li:last-child .portbuts {
  display: flex;
  align-items: center;
  height: 100px;
}
#container .con4 .portfolio_divide > li:last-child .portbuts .port_buts {
  padding: 10px 30px;
  background: none;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8vw;
  cursor: pointer;
}
#container .con4 .portfolio_divide > li:last-child .portbuts .port_buts:not(:last-child) {
  margin-right: 20px;
}
#container .con4 .portfolio_divide h3 {
  font-size: 2vw;
  text-transform: uppercase;
}
#container .con4 .portfolio_divide p {
  width: 90%;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 15px;
}
#container .con4 .portfolio_divide .pnum {
  font-size: 1.4vw;
}
#container .con4 .portfolio_divide .skill_icons {
  display: flex;
  align-items: center;
  height: 150px;
}
#container .con4 .portfolio_divide .skill_icons li {
  width: 17.5%;
}
#container .con4 .portfolio_divide .skill_icons li img {
  width: 100%;
}